header {
  display: flex;
  gap: 16px;
}

section {
  margin: 2rem;
}

.container {
  display: flex;
  gap: 20px;
}

.chart {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.crop-image {
  width: 100%;
}

.charts-container {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 0 2rem;
}

.chart {
  display: flex;
  flex-direction: column;
}
