.example-card {
  cursor: pointer;
  /* max-width: 300px; */
  flex: 1 1 auto;
  height: 100%;
  padding: 1.5rem;
  background-color: #757575;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.card-title {
  color: white;
  background-color: #3eaf2c;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}

.example-header-image {
  width: 50%;
}
