<mat-card class="order-card">
  <!-- <mat-card-header>
    <p>Date: {{ order.orderedDate }}</p>
  </mat-card-header> -->
  <mat-card-content>
    <div class="product-info">
      <img
        alt="{{ getProduct(order.saleId)?.name }}"
        class="product-photo"
        width="350px"
        src="{{ getProduct(order.saleId)?.imageUrl }}"
      />
    </div>
    <div class="product-info">
      <p><strong>Product:</strong> {{ getProduct(order.saleId)?.name }}</p>
      <p>
        <strong>Description:</strong>
        {{ getProduct(order.saleId)?.description }}
      </p>
      <p><strong>Status:</strong> {{ order.status }}</p>
      <p>
        <strong>Unit Price:</strong> S/.
        {{ getProduct(order.saleId)?.unitPrice }}
      </p>
      <p><strong>Quantity:</strong> {{ order.quantity }} Kg</p>
      <p><strong>Total Price:</strong> S/. {{ order.totalPrice }}</p>

      <div class="buttons">
        <button
          class="button-color"
          (click)="viewOrderDetails(order.id)"
          mat-raised-button
        >
          View status
        </button>
        <button
          class="warn"
          mat-raised-button
          (click)="openDialog(); deleteOrder(order.id)"
        >
          Cancel
        </button>
      </div>
    </div>
    <div class="farmer-info"></div>
  </mat-card-content>
</mat-card>
