
.container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.orders {
  width:80%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2,  minmax(150px, 1fr));
  gap: 20px;
  grid-row-gap: 30px;
}
