<mat-card>
  <mat-card-header>
    <mat-card-title>Purchase confirmation</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>Details:</p>
    <p>{{formData.description}}</p>
    <p>Payment method: {{formData.paymentMethod}}</p>

  </mat-card-content>

  <mat-card-footer>
    <mat-card-footer>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" [routerLink]="sales" (click)="onSubmit()">Complete purchase</button>
    </mat-card-footer>
  </mat-card-footer>
</mat-card>
