<div>
  <mat-card class="card-container">
    <mat-card-header class="center">
      <img src="./assets/logo.png" width="264" height="263" alt="logo">
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signUpForm"
            class="form-container">
        <mat-form-field class="form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" autocomplete="off" />
          <span *ngIf="signUpForm.get('username')?.hasError('required') && signUpForm.get('username')?.touched" class="error">Username is required</span>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email" autocomplete="off" />
          <span *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" class="error">Email is required</span>
          <span *ngIf="signUpForm.get('email')?.hasError('email') && signUpForm.get('email')?.touched" class="error">Invalid email format</span>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off" />
          <span *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched" class="error">Password is required</span>
        </mat-form-field>
        <!--<mat-form-field class="form-field">
          <mat-label>Photo</mat-label>
          <input matInput type="photo" formControlName="photo" autocomplete="off" />
          <span *ngIf="signUpForm.get('photo')?.hasError('required') && signUpForm.get('photo')?.touched" class="error">Photo is required</span>
        </mat-form-field>--->
        <br>
        <button type="submit"
                mat-raised-button
                color="primary"
                class="form-field"
                [disabled]="signUpForm.invalid" (click)="saveData()">Sign up</button>
      </form>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <mat-card-footer class="footer-container">
      <button type="submit"
              mat-raised-button
              color="primary"
              class="footer-button">Sign up with Google</button>
      <span class="footer-sign-up">
        You have account?
        <a class="footer-sign-up-a" (click)="redirectToSignin()">Sign In</a>
      </span>
    </mat-card-footer>
  </mat-card>
</div>
