<app-farmer-navigation></app-farmer-navigation>
<div class="page-background">
<h1 style=" padding: 0; line-height: 0">My Transactions</h1>
  <div class="container">
<table  mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z13">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
      ID
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="transactionType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type">
      Type
    </th>
    <td mat-cell *matCellDef="let element"> {{element.transactionType}} </td>
  </ng-container>

  <!-- Cost Name Column -->
  <ng-container matColumnDef="costName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost name">
      Cost Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.costName}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
      Date
    </th>
    <td mat-cell *matCellDef="let element"> {{element.date  | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
      Description
    </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
      Price
    </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

  <div class="buttons">
    <app-profit-button-content></app-profit-button-content>
    <app-cost-button-content></app-cost-button-content>
  </div>

</div>

