.card-container{
  display: flex;
  gap: 30px;
  justify-content: center;
}
.title{
  text-align: center;
  background-color: transparent !important;
  font-weight: bold;
  padding-top: 10px;
}
.field-set{
  height: fit-content;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul > li > p {
  font-weight: bold;
}

.start-button{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.divider{
  margin: 20px 0;
}

.card-title{
  padding: 15px 0;
}

@media (max-width: 768px) {
  .card-container{
    flex-direction: column;
  }
}
