<div class="title">
  <h1>Select Your Role</h1>
</div>
<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">Farmer</mat-card-title>
    </mat-card-header>
    <mat-card-content class="field-set">
      <p>In the role of producer, you will have access to the following functions:</p>
      <ul>
        <li>
          <p>Crop planning</p>
          Use Google calendar and dashboards for planning
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Manage your costs and profits </p>
          Track your profits and costs for your organization
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Fulfill merchant orders </p>
          Sell your products and fulfill your orders
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Manage supplies</p>
          Track inputs used on your crops
        </li>
      </ul>
    </mat-card-content>
    <mat-card-footer class="start-button">
      <button type="submit"
              mat-raised-button
              color="primary"
              class="start-button"
              (click)="onFarmerSelected()">Start as a Farmer</button>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="card-title">Merchant</mat-card-title>
    </mat-card-header>
    <mat-card-content class="field-set">
      <p>In the merchant role, you will have access to the following functions:</p>
      <ul>
        <li>
          <p>Search for products </p>
          Find all types of fruits and vegetables
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Buy quality products </p>
          Access the secure shopping process that we offer
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Rate your purchase and quality </p>
          Rate your purchases and the quality of your products
        </li>
        <mat-divider class="divider"/>
        <li>
          <p>Complete purchase tracking </p>
          Track the status of your orders 24/7
        </li>
      </ul>
    </mat-card-content>
    <mat-card-footer class="start-button">
      <button type="submit"
              mat-raised-button
              color="primary"
              (click)="onMerchantSelected()">Start as a Merchant</button>
    </mat-card-footer>
  </mat-card>

</div>
