
.container{
  max-width: 1400px;
  margin: 0 auto;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  grid-row-gap: 5rem;
  grid-template-areas:
    "seccion1 seccion2 seccion3"
    "seccion4 seccion4 seccion4";
}
.itemCalendar {
  grid-area: seccion1;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemLogo {
  grid-area: seccion2;
  text-align: center;
}

.itemAdvertising {
  grid-area: seccion3;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemCarousel {
  grid-area: seccion4;
}

.center{
  text-align: center;
}

.carousel-display{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.carousel-display-button{
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 1024px) {
  .carousel-display{
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .grid-container{
    display: flex;
    flex-direction: column;
  }
  .itemCalendar{
    order: 2;
  }
  .itemLogo{
    order: 1;
  }
  .itemCarousel{
    order: 3;
  }
  .itemAdvertising{
    order: 4;
  }
}
