<mat-toolbar class="nav">
  <span class="nav-welcome">
    <span mat-card-image><mat-icon>account_circle</mat-icon></span>
    Welcome, {{ user.username }}
    <button (click)="onLogOut()" mat-button>Log Out</button>
  </span>
  <span class="spacer"></span>

  <ng-container *ngIf="isLargeScreen">
    <button *ngFor="let route of routesFarmer"
            [routerLink]="route.to"
            mat-button>
      {{ route.label }}
    </button>
  </ng-container>
  <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="!isLargeScreen"><mat-icon>menu</mat-icon></button>
  <mat-menu #userMenu="matMenu">
    <button *ngFor="let route of routesFarmer" [routerLink]="route.to" mat-menu-item>
      {{ route.label }}
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
