.page-background {
  background: linear-gradient(
    to bottom,
    #2aaf87,
    #48d4aa,
    #abedd9,
    #d0f3cb,
    white
  );
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 55vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
