<div class="sign-in-component">
  <mat-card class="card-container">
    <mat-card-header class="center">
      <img alt="logo" src="./assets/logo.png" width="264" height="263">
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="signInForm" (ngSubmit)="onSubmit()"
            class="form-container">
        <mat-form-field class="form-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" name="username" autocomplete="off"/>
          <span *ngIf="signInForm.get('username')?.hasError('required') && signInForm.get('username')?.touched" class="error">Username is required</span>
          <span *ngIf="signInForm.get('username')?.hasError('username') && signInForm.get('username')?.touched" class="error">Invalid username format</span>
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="off" />
          <span *ngIf="signInForm.get('password')?.hasError('required') && signInForm.get('password')?.touched" class="error">Password is required</span>
        </mat-form-field>
        <br>
        <button type="submit"
                mat-raised-button
                color="primary"
                class="form-field"
                [disabled]="signInForm.invalid">Sign in</button>
      </form>
    </mat-card-content>
    <mat-divider class="divider"></mat-divider>
    <mat-card-footer class="footer-container">
      <button type="submit"
              mat-raised-button
              color="primary"
              class="footer-button">Sign in with Google</button>
      <button type="submit"
              mat-raised-button
              color="primary"
              class="footer-button">Recover Password</button>
      <span class="footer-sign-up">
        You dont have account?
        <a class="footer-sign-up-a" (click)="redirectToSignup()">Sign Up</a>
      </span>
    </mat-card-footer>
  </mat-card>
</div>
