<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Credit card details</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="form-group">
      <mat-form-field>
        <input matInput placeholder="Owner's name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Number" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Due date (MM/YY)" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="CVV" />
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-card-footer>
</mat-card>
