<app-merchant-navigation></app-merchant-navigation>
<div class="container">
  <mat-card class="order-card">
    <mat-card-header>
      <!-- <p>Date: {{ order.orderedDate }}</p> -->
      <button mat-icon-button (click)="navigateBack()">
        <mat-icon aria-label="Volver">arrow_back</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <div class="product-info">
        <img
          width="350px"
          alt="{{ product.name }}"
          class="product-photo"
          src="{{ sale.imageUrl }}"
        />
      </div>
      <div class="product-info">
        <p><strong>Product:</strong> {{ sale.name }}</p>
        <p><strong>Description:</strong> {{ sale.description }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <p><strong>Unit Price:</strong> S/. {{ sale.unitPrice }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }} Kg</p>
        <p><strong>Total Price:</strong> S/. {{ order.totalPrice }}</p>

        <div class="buttons">
          <button
            class="warn"
            mat-raised-button
            (click)="openDialog(); deleteOrder(order.id)"
          >
            Cancel
          </button>
        </div>
      </div>
      <div class="farmer-info"></div>
    </mat-card-content>
  </mat-card>
</div>
<div class="progress-bar-container">
  <mat-progress-bar
    mode="determinate"
    [value]="calculateProgress(order.status)"
  ></mat-progress-bar>

  <div
    class="status-description"
    [ngClass]="{
      pending: order.status === 'pending',
      finalized: order.status === 'finalized',
      qualified: order.status === 'qualified'
    }"
  >
    <p>
      <span *ngIf="order.status === 'pending'">Purchase pending</span>
      <span *ngIf="order.status === 'finalized'">Purchase success</span>
      <span *ngIf="order.status === 'qualified'">Purchase rated</span>
    </p>
  </div>
</div>
