.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-card {
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 15px;
  color: white;
}

mat-card-content {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 3px 5px;
}

:host mat-card-header {
  margin: 0;
  padding: 3px 0 0 3px;
  border:0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-info {
  padding: 10px 20px;
  line-height: 15px;
}

.farmer-info {
  padding: 10px 20px;
  line-height: 15px;
}

.product-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:host .warn {
  color: white;
  background-color: #FF0000;
}

.progress-bar-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.status-description {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.status-description p {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-description .pending {
  background-color: #FFA500;
  color: white;
}

.status-description .packaging {
  background-color: #87CEEB;
  color: white;
}

.status-description .completed {
  background-color: #32CD32;
  color: white;
}
