.content-title {
  text-align: center;
  font-size: 2.5rem;
  padding: 1.5rem;
  font-weight: 500;
  color: white;
}

.grid-list {
  height: 100vh;
}
.content {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
