<app-merchant-navigation></app-merchant-navigation>
<div class="content">
  <h1 class="content-title">Available products</h1>
  <mat-grid-list class="grid-list" [cols]="breakpoint" rowHeight="250px" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let sale of pagedList" class="grid-title">
      <app-sale-card-content [sale]="sale" (click)="navigateToSaleDetails(sale.id)"></app-sale-card-content>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 [hidePageSize]=true
                 (page)="OnPageChange($event)">
  </mat-paginator>
</div>
