<!-- Pricing Section -->
<div class="ui-section-pricing__layout mat-grid-list">
  <mat-grid-list cols="3" rowHeight="fit" style="height: 80vh">
    <!-- Card 1 -->
    <mat-grid-tile>
      <mat-card class="mat-card-pricing">
        <mat-card-header>
          <mat-card-title>Basic Plan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="price">$19/month</p>
          <mat-list>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Access to basic
              features
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Installation IOT
              Devices
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Email support
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="redirectToLogin()">
            Get Started
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 2 -->
    <mat-grid-tile>
      <mat-card class="mat-card-pricing">
        <mat-card-header>
          <mat-card-title>Pro Plan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="price">$49/month</p>
          <mat-list>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> All basic features
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Installation IOT
              Devices
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Priority support
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Advanced analytics
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="redirectToLogin()">
            Get Started
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <!-- Card 3 -->
    <mat-grid-tile>
      <mat-card class="mat-card-pricing">
        <mat-card-header>
          <mat-card-title>Enterprise Plan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="price">$99/month</p>
          <mat-list>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> All pro features
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Installation IOT
              Devices
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Dedicated support
            </mat-list-item>
            <mat-list-item>
              <mat-icon color="primary">check</mat-icon> Custom solutions
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="redirectToLogin()">
            Get Started
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
